<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.mybatis"><level value="INFO"/></logger>
    <logger name="com.biz.product.persistence"><level value="INFO"/></logger>
    <logger name="com.biz.product.persistence.ProductDao"><level value="DEBUG"/></logger>
    <logger name="com.biz.product.controller"><level value="DEBUG"/></logger>
    <logger name="com.biz.product.service"><level value="DEBUG"/></logger>
    
    <!-- SQL Logger -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="warn" />
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.sqlonly" additivity="false"> 
		<level value="info"/> 
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.audit" additivity="false"> 
		<level value="warn"/>  
		<appender-ref ref="console"/> 
	</logger> 

	<logger name="jdbc.resultset" additivity="false">
		<level value="warn" />
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.resultsettable" additivity="false"> 
		<level value="info"/>  
		<appender-ref ref="console"/> 
	</logger> 

    <root level="TRACE">
        <appender-ref ref="console"/>
    </root>
</configuration>